SECRET_KEY = ARANDOMSECRETKEY
DEBUG = False
CORS_ALLOW_ALL_ORIGINS = True
EMAIL_HOST = smtp.example.com
EMAIL_USE_TLS = True
EMAIL_PORT = 587
EMAIL_HOST_USER = example@example.com
EMAIL_HOST_PASSWORD = myexamplepassword
